nav{
    display: grid;
    grid-template-columns: 12% 12% 76%;
}
nav div{
    font-size: 20pt;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    background-color: white;
    padding: 1rem;
    text-align: center;
    margin-top: -70px;
}
h1{
    padding: 1rem;
    color: blue;
    font-size: 70pt;
    font-family: Helvetica;
}
a{
    color: blue;
    font-family: Helvetica;
    text-decoration: none;
    font-weight: 500;
}
a:hover{
    font-style: italic;
}
h2{
    font-family: Helvetica;
    font-size: 30pt;
    font-weight: lighter;
    color: blue;
    margin-bottom: -30;
}
.container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.card{
    padding: 1rem;
    background-color: blue;
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: 25px;
}
.card-text{
    margin-top: 38px;
    color: rgb(255, 255, 255);
    font-size: 23pt;
    margin-bottom: -60px;
    height: 100px;
    margin-left: 20px;
}
.button{
    text-align: center;
    background-color: blue;
    border-radius: 5px;
    color: white;
    font-family: helvetica;
    padding: 0.5rem;
    margin: 2rem;
    width: 150px;;
}

.btncontainer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.card-icon{
    margin-left: 5px;
    padding: 0.2rem;
    height: 90px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
}

#threeline {
    margin-top: 5px;
    
}

#twoline {
    margin-top: 25px;
}

.card-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;

}

.splitcontainer {
    display: grid;
    grid-template-columns: 59% 41%;
}

.spliticon {
    height: 100%;
    border-radius: 25px;
}

.splitbg {
    background-color: blue;
    border-radius: 25px;
    height: 500px;
    margin: 1rem;
    padding: 1rem;
}

.infoparagraph {
    border-radius: 25px;
    border: 1px solid blue;
    margin: 1rem;
    padding: 1rem;
}

@media screen and (max-width: 800px) {
  .container {
    grid-template-columns: 50% 50%; 
  }
  nav {
    grid-template-columns: 33% 33% 33%;
  }
  nav div {
    font-size: 15pt;
    padding: 20px;
  }
  h1{
    font-size: 40pt;
    margin-bottom: 60px;
    text-align: center;
  }
  .card {
    padding: 0.8rem;
  }
  .card-text {
    font-size:15pt;
    padding: 5px;
    margin-top: 1px;
    margin-left: 10px;
  }
  #twoline {
    margin-top: 12px;
  }
  #threeline {
    margin-top: 5px;
  }
  h2 {
    font-size: 25pt;
  }
  .splitcontainer {
    grid-template-columns: 100%;
  }
  .spliticon {
    height: 89%;
  }
  .splitbg {
    height: 100%;
  }
  .infoparagraph {
    margin-top: 70px;
  }
  .btncontainer {
    grid-template-columns: 50% 50%;
    margin-top: -30px;
  }
}